# INSY5336-LAB 4_Question 2

####Create a program that allows you to store the data for players of a game

In [ ]:
# Import module
import sqlite3
  
# Connecting to sqlite
conn = sqlite3.connect('data_entry12.db')
  
# Creating a cursor object using the 
# cursor() method
cursor = conn.cursor()
  
# Creating table
table ="""CREATE TABLE MATCH1 (NAME VARCHAR(255), WIN INTEGER, LOSSES INTEGER, TIES INTEGER, GAMES INTEGER);"""
cursor.execute(table)

In [ ]:
import pandas as pd
print("COMMAND MENU")
list1={'view':'View player', 'add':"Add a player", 'del': ' Delete a player', 'exit':'Exit Program'}
for i in list1:
  print(f'{i}-{list1[i]}')
while(True):
  choice=input('Command: ')
  if(choice=='view'):
    data=cursor.execute('''SELECT * FROM MATCH1''')
    df = pd.DataFrame(data, columns=['NAME','WINS','LOSSES','TIES','GAMES'])
    '''print('NAME         WINS         LOSSES        TIES        GAMES')
    print("-----------------------------------------------------------")
    for i in data:
      for j in range(len(i)):
        print(i[j],end='            ')
      print('')'''
    print(df)
  elif(choice=='add'):
    name=input('Name: ');wins=int(input("Wins: "));losses=int(input("Losses: "));ties = int(input("Ties: "))
    games=wins+losses+ties
    cursor.execute('''INSERT INTO MATCH1 VALUES (?, ?, ?, ?, ?)''',(name,wins,losses,ties,games))
    
    print(f'{name} is added in database')

  elif(choice=='del'):
    name=input("Name: ")
    sql = 'DELETE FROM MATCH1 WHERE NAME=?'
    cursor.execute(sql,(name,))
    print(f'{name} is deleted from the database')
    conn.commit()
  elif(choice=='exit'):
    print('Bye!')
    break

COMMAND MENU
view-View player
add-Add a player
del- Delete a player
exit-Exit Program
Command: view
   NAME  WINS  LOSSES  TIES  GAMES
0  givi     7       5     4     16
1   kit     6       5     4     15
Command: add
Name: anne
Wins: 9
Losses: 5
Ties: 3
anne is added in database
Command: view
   NAME  WINS  LOSSES  TIES  GAMES
0  givi     7       5     4     16
1   kit     6       5     4     15
2  anne     9       5     3     17
Command: del
Name: kit
kit is deleted from the database
Command: view
   NAME  WINS  LOSSES  TIES  GAMES
0  givi     7       5     4     16
1  anne     9       5     3     17
Command: del
Name: givi
givi is deleted from the database
Command: view
   NAME  WINS  LOSSES  TIES  GAMES
0  anne     9       5     3     17
Command: exit
Bye!